$color-primary: orange;
$color-bg-light: #f3f2f2;
$color-white: #fff;
$color-bg-dark: #2f2f2f;
$color-text: #000;
$color-text-light: #cfcfcf;
$color-accent: #9e9d9d;
$link-blue: #30a0f0;

$desktop: 1024px;