@use "variables" as vars;

.header {
  background: vars.$color-bg-light;
  padding: 16px;
  text-align: center;
  position: relative;

  &__nav {
    padding: 12px 0;
  }

  &__logo {
    display: block;
    margin: 0 auto 12px;

    img {
      width: 200px;
      height: 40px;
    }
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: block;
  }

  &__link {
    display: block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 14px;
    color: vars.$color-text;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
  }

  &__item:last-child .header__link {
    border-bottom: 0;
  }

  &__search {
    position: relative;
    margin-top: 12px;
  }
}

@media (min-width: vars.$bp-desktop) {
  .header {
    padding: 30px 0 45px;

    &__nav {
      padding: 20px 15px;
      position: relative;
    }

    &__logo {
      position: absolute;
      left: 35px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
    }

    &__menu {
      display: block;
    }

    &__item {
      display: inline-block;
      margin: 0 14px;
      position: relative;
    }

    &__link {
      border: 0;
      padding: 0;
    }

    &__item:not(:last-child)::after {
      content: "";
      position: absolute;
      right: -14px;
      top: 0;
      height: 100%;
      width: 1px;
      background: vars.$color-text;
    }

    &__search {
      position: absolute;
      right: 35px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
    }
  }
}