@use "variables" as vars;

.layout {
  position: relative;
  padding: 16px;
}

.layout__sidebar {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
}

@media (min-width: vars.$bp-desktop) {
  .layout__sidebar {
    width: 12%;
    position: absolute;
    left: 4%;
    top: 78px;
    margin: 0;
  }

  .layout__main {
    margin-left: 20%;
  }
}